.title{
    font-size:"65px";
}
h2{
    background-color:#607d8b;
    color:#ffffff;
}
p{
    width: 10%;
    font-size: 16 px;
}  
Navigation{
    color: aqua;
}
p{
    width: 60%;
    font-size: 20px;
}




